html {
  background-color: #f4a5ff;
}

.header {
  overflow: hidden;
  background-color: #f9ccff;
  padding: 20px 50px;
  margin: 0;
}

.header a {
  float: left;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  background-color: #ccffe5;
  color: black;
}

.header a.active {
  background-color: #7dffbd;
  color: white;
}

.header-right {
  float: right;
}

@media screen and (max-width: 500px) {

  .header a {
    float: none;
    display: block;
    text-align: left;
  }

  .header-right {
    float: none;
  }

}

.snowflake {
  color: #ff7ee6;
  font-size: 2em;
  font-family: Arial, sans-serif;
  text-shadow: 0 0 50px #fff;
}
