html {
  background-color: #f4a5ff;
}

.header h1 {
  font-family: Calistoga, georgia;
  font-size: 5em;
  color: #fff97c;
  text-align: center;
}

.header {
  overflow: hidden;
  background-color: #f9ccff;
  padding: 20px 50px;
  margin: 0;
}

.header a {
  float: left;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  list-style-type: none;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  background-color: #fff97c;
  color: black;
}

.header a.active {
  background-color: #fff97c;
  color: black;
}

.header-right {
  float: right;
}

@media screen and (max-width: 608px) {

  .header a {
    float: none;
    display: block;
    text-align: center;
    font-family: Calistoga, georgia;
  }

  .header-right {
    float: none;
  }

}

.snowflake {
  color: #ff7ee6;
  font-size: 2em;
  font-family: Arial, sans-serif;
  text-shadow: 0 0 50px #fff;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

.row {
  margin: 0 -5px;
  flex-flow: wrap;
  align-content: center;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.card {
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}

@media screen and (max-width: 608px) {

  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }

}

.cardimage {
  width: 100%;
  padding: 0 10px;
  height: 100%;
  padding-top: 10px;
}
